---
# tasks file for idr-jupyter

- name: jupyterhub | create jupyter directories
  become: true
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - /etc/jupyterhub
    - /srv/jupyterhub

- name: jupyterhub | install epel repo
  become: true
  yum:
    name: epel-release
    state: present

- name: jupyterhub | install system dependencies
  become: true
  yum:
    name:
      - nodejs
      - npm
      # Required by ansible docker_image
      - python-docker-py
      # Required by ansible pip module
      - python-setuptools
      - python36
    state: present

- name: jupyterhub | install node packages
  become: true
  npm:
    global: true
    name: configurable-http-proxy
    state: present

- name: jupyterhub | create base directory
  become: true
  file:
    path: "{{ idr_jupyter_basedir }}"
    state: directory

- name: jupyterhub | install python3 packages in virtualenv
  become: true
  pip:
    name:
      - jupyterhub==1.1.0
      # Remember to update cull idle script below when upgrading jupyterhub
      - dockerspawner==0.11.1
      - jupyterhub-dummyauthenticator==0.3.1
      - jupyterhub-tmpauthenticator==0.6
      - oauthenticator==0.11.0
    state: present
    virtualenv: "{{ idr_jupyter_basedir }}/venv"
    virtualenv_command: /usr/bin/python3 -mvenv
  notify:
    - restart jupyterhub

- name: jupyterhub | download cull idle script
  become: true
  get_url:
    checksum: >-
      sha256:3363f279707fd0294563da9d587acdeab2aab78907939c48340b7cc249ab15c2
    dest: "{{ idr_jupyter_basedir }}/cull_idle_servers.py"
    url: >-
      https://raw.githubusercontent.com/jupyterhub/jupyterhub/1.1.0/examples/cull-idle/cull_idle_servers.py

- name: jupyterhub | pull images
  become: true
  docker_image:
    name: "{{ item }}"
    state: "present"
    force: "{{ idr_jupyter_pull_latest }}"
  with_items:
    - "{{ idr_jupyter_notebook_image }}"
  notify:
    - restart jupyterhub

- name: jupyterhub | create systemd service
  become: true
  template:
    src: systemd-system-jupyterhub-service.j2
    dest: /etc/systemd/system/jupyterhub.service
  notify:
    - restart jupyterhub

# This may contain sensitive credentials
- name: jupyterhub | copy jupyter configuration file
  become: true
  template:
    src: jupyterhub_config-py.j2
    dest: /etc/jupyterhub/jupyterhub_config.py
    owner: root
    group: root
    mode: "0600"
  notify:
    - restart jupyterhub

- name: jupyterhub | enable jupyterhub
  become: true
  systemd:
    daemon_reload: true
    enabled: true
    name: jupyterhub.service
    state: started
