# Jupyterhub configuration file

c = get_config()


######################################################################
# JupyterHub

# Hub service listens on this interface:
c.JupyterHub.hub_ip = "0.0.0.0"
#c.JupyterHub.proxy_api_ip = c.JupyterHub.hub_ip

c.JupyterHub.spawner_class = "dockerspawner.DockerSpawner"
{% if idr_jupyter_proxy_token | default('') | length > 0 %}
c.JupyterHub.proxy_auth_token = "{{ idr_jupyter_proxy_token }}"
{% endif %}

c.JupyterHub.services = [{
    'name': 'cull-idle',
    'admin': True,
    'command': ['python', '{{ idr_jupyter_basedir }}/cull_idle_servers.py', '--timeout=300']
}]

######################################################################
# DockerSpawner
# https://github.com/jupyterhub/dockerspawner/blob/master/dockerspawner/dockerspawner.py

c.DockerSpawner.tls_verify = False
c.DockerSpawner.hub_ip_connect = "{{ idr_jupyter_ip }}"
c.DockerSpawner.container_image = "{{ idr_jupyter_notebook_image }}"
c.DockerSpawner.remove_containers = {{ idr_jupyter_notebook_remove_containers }}
c.DockerSpawner.use_internal_ip = True
{%   if idr_jupyter_notebook_volumes %}
c.DockerSpawner.volumes = {{ idr_jupyter_notebook_volumes }}
{%   endif %}
c.DockerSpawner.environment = { "JUPYTER_ENABLE_LAB": 1 }


######################################################################
# Authenticator

c.Authenticator.whitelist = {{ idr_jupyter_users | to_json }}
c.Authenticator.admin_users = {{ idr_jupyter_admins | to_json }}

{% if idr_jupyter_authenticator == 'system' %}
# Use default authenticator
{% elif idr_jupyter_authenticator == 'github' %}
c.JupyterHub.authenticator_class = "oauthenticator.GitHubOAuthenticator"
c.GitHubOAuthenticator.oauth_callback_url = "{{ idr_jupyter_urlbase }}{{ idr_jupyter_prefix }}/hub/oauth_callback"
c.GitHubOAuthenticator.client_id = "{{ idr_jupyter_github_id }}"
c.GitHubOAuthenticator.client_secret = "{{ idr_jupyter_github_secret }}"
# TODO: scopes
c.GitHubOAuthenticator.github_organization_whitelist = {{ idr_jupyter_github_orgs | to_json }}
{% else %}
c.JupyterHub.authenticator_class = "{{ idr_jupyter_authenticator }}"
{% endif %}
c.Authenticator.scopes = {{ idr_jupyter_auth_scopes | to_json }}


######################################################################
# Other settings
{% for key in idr_jupyter_additional_config %}
c.{{ key }} = {{ idr_jupyter_additional_config[key] | to_json }}
{% endfor %}
