[Unit]
Description=IDR JupyterHub
Requires=docker.service
After=docker.service

[Service]
User=root
#Restart=on-failure
Restart=no
RestartSec=10
Environment="PATH={{ idr_jupyter_basedir }}/venv/bin:/bin:/usr/bin"
ExecStart={{ idr_jupyter_basedir }}/venv/bin/python3.6 \
    {{ idr_jupyter_basedir }}/venv/bin/jupyterhub \
    --base-url={{ idr_jupyter_prefix }} \
    -f /etc/jupyterhub/jupyterhub_config.py \
    --log-level={{ idr_jupyter_hub_log_level }}
WorkingDirectory=/srv/jupyterhub
SyslogIdentifier=jupyterhub

[Install]
WantedBy=multi-user.target
